<template>
  <div class="custom-select" :tabindex="tabindex" @blur="open = false">
    <div class="selected" @click="open = !open">
      {{ selectedRender}}
    </div>
    <div class="items" :class="{ selectHide: !open }">
      <div
        v-for="(option, i) of options"
        :key="i"
        @click="
          selected = option;
          open = false;
          $emit('input', option?.name || option);
        "
      >
        {{ option?.name || option }}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    options: {
      type: Array,
      required: true,
    },
    default: {
      type: String,
      required: false,
      default: null,
    },
    tabindex: {
      type: Number,
      required: false,
      default: 0,
    },
    optionName: {
      type: String,
      required: false,
      default: 'name',
    },
    optionValue: {
      type: String,
      required: false,
      default: 'value',
    },
  },
  computed: {
    selectedRender() {
      return this.selected?.[this.optionName] || this.selected;
    },
  },
  data() {
    return {
      selected: this.default
        ? this.default
        : this.options.length > 0
        ? (this.options[0][this.optionName] || this.options[0])
        : null,
      open: false,
    };
  },
  mounted() {
    // this.$emit("input", this.selected);
  },
};
</script>

<style scoped>

.custom-select {
  position: relative;
  width: 100%;
  font-size: 18px;
  text-align: left;
  outline: none;
  height: 47px;
  line-height: 47px;
}

.custom-select .selected {
    color: #005aff;
    cursor: pointer;
    user-select: none;
}

.custom-select .selected:after {
  position: absolute;
  content: "";
  top: 22px;
  right: -1em;
  width: 0;
  color: #005aff;
  height: 0;
  border: 5px solid transparent;
  border-color: #005aff transparent transparent transparent;
}

.custom-select .items {
  color: black;
  overflow: hidden;
  position: absolute;
  background-color: white;
  left: 0;
  right: 0;
  z-index: 1;
  width: 200px;
}

.custom-select .items div {
  color: black;
  padding-left: 1em;
  cursor: pointer;
  user-select: none;
}

.custom-select .items div:hover {
  background-color: #d4d5d5;
}

.selectHide {
  display: none;
}
</style>