<template>
<div>
  <input
    type="date"
    id="start"
    name="trip-start"
    v-model="date"
    :class="{'date-picker': true }"
    @input="$emit('input', $event.target.value)"
  />
</div>
</template>

<script>
export default {
  props: {
    default: {
      type: String,
      required: false,
      default: null,
    },
    min: {
      type: String,
      required: false,
      default: '2018-01-01',
    },
    max: {
      type: String,
      required: false,
      default: new Date().toISOString().split("T")[0],
    },
  },
  name: "date-picker",
  data() {
    return {
      date: this.default == null ? null : new Date(this.default).toISOString().substr(0, 10)
    }
  },
  mounted() {
  },
};
</script>

<style scoped>
    .date-picker {
        border: none;
        background: none;
        color: #005afe;
        font-size: 18px;
    }
</style>
