<template>
  <div class="file-upload" @dragover.prevent @drop="handleDrop">

        <input type="file" ref="fileInput" style="display: none" @change="handleFileSelect">

    <div class="drop-area" @click="openFileInput">
      <div class="plus">+</div>
      <div>Выбирите файл</div>
      <div v-if="selectedFiles.length === 0" class="title">
        <span class="dashed-underline">Выберите файл</span> или перетащите его сюда
      </div>
      <ul v-else>
        <li v-for="(file, index) in selectedFiles" :key="index">
          {{ file.name }}
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      selectedFiles: [],
    };
  },
  methods: {
    handleDrop(event) {
      event.preventDefault();
      const files = Array.from(event.dataTransfer.files);
      this.selectedFiles = files;

      this.$emit('file-inited', this.selectedFiles)
    },
    handleFileSelect(event) {
      const files = Array.from(event.target.files);
      this.selectedFiles = files;

      this.$emit('file-inited', this.selectedFiles)
    },
    openFileInput() {
      this.$refs.fileInput.click();
    },
  },
};
</script>

<style scoped>
.file-upload {
    cursor: pointer;
    width: 100%;
    height: 157px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
    border: 1px solid #B9C2C9;
    background: #F2F5F8;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.drop-area {
  text-align: center;
}

.drop-area ul {
  list-style-type: none;
  padding: 0;
}

.drop-area li {
  margin: 5px 0;
}

.title {
    padding-top: 20px;
    font-size: 18px;
    color: #86939C;
}

.dashed-underline {
    border-bottom: 1px dashed #458AFB;
    cursor: pointer;
}

.plus {
    font-size: 40px;
    color: #86939C;
}
</style>
