<template>
  <div class="header">
    <div class="header-bradcrumbs">
      <div>
      Главная   /   Ученики   /   Документы
      </div>
    </div>
    <div class="header-account-area">
        <img src="../assets/user.png" />
        <span>User Name</span>
        <img class="header-account-area-settings" src="../assets/settings.svg" />
        <img src="../assets/log-out.svg" />
    </div>
  </div>
</template>

<script>
export default {
  name: 'footer-component'
}
</script>

<style scoped>
.header {
  height: 72px;
  background-color: #FFFFFF;
  display: flex;
  justify-content: space-between;
}

.header-bradcrumbs {
    width: 326px;
    display: flex;
    /* justify-content: end; */
    align-items: center;
    margin-left: 90px;
}

.header-account-area {
    width: auto;
    display: flex;
    /* justify-content: end; */
    align-items: center;
    margin-right: 90px;
}

.header-account-area-settings {
    margin-right: 33px;
}

.header-account-area span {
    margin-right: 110px;
    margin-left: 10px
}
</style>