<script>
import DateSelect from "@/components/DateSelect.vue";
import DragAndDropArea from "@/components/DragAndDropArea.vue";

export default {
  components: { DateSelect, DragAndDropArea },
  props: {
    show: Boolean,
    data: {
      type: Object,
      required: false,
      default: null,
    },
  },
  computed: {
    checkForm() {
      return (this.form.name != undefined && this.form.name != null && this.form.name != '')
    }
  },
  watch: {
    data: {
      handler: function (val) {
        this.form = {...this.form, ...val}
      },
      deep: true
    }
  },
  data() {
    return {
      form: {
        type: null,
        status: null,
        date_start: null,
        date_end: null,
        name: null,
        create_task_after_end: false,
        end_alert: false,
      },
    };
  },
  methods: {
    clear() {
      this.form =  {
        type: null,
        status: null,
        date_start: null,
        date_end: null,
        name: null,
        create_task_after_end: false,
        end_alert: false,
      },

      this.$emit('close', this.form)
    },

    saveFile(e) {
      console.log('file selected', e)
      // saving file
    },

    submit() {

      let str = this.data ? 'edit' : 'close';

      this.$emit(str, this.form);
        
        this.form = {
          type: null,
          status: null,
          date_start: null,
          date_end: null,
          name: null,
          create_task_after_end: false,
          end_alert: false,
        }
    }
  },
  mounted() {
    this.form.type = 'Договор';
    this.form = {...this.form, ...this.data};
  }
};
</script>

<template>
  <Transition name="modal">
    <div v-if="show" class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">
          <div class="modal-header">
            <span name="header">Добавить документ</span>
            <div @click="clear()" class="cursor-pointer">
              <img src="@/assets/times.svg" alt="close" />
            </div>
          </div>

          <div class="modal-body">
            <div class="flex">
              <div>Тип документа: <span class="required-icon">*</span></div>
              <div>
                <div>
                  <div>
                    <input
                      type="radio"
                      id="contactChoice1"
                      name="contact"
                      value="Договор"
                      :checked="form.type === 'Договор'"
                      @input="form.type = $event.target.value"
                    />

                    <label for="contactChoice1">Договор</label>
                  </div>

                  <div>
                    <input
                      type="radio"
                      id="contactChoice2"
                      name="contact"
                      value="Справка"
                      :checked="form.type === 'Справка'"
                      @input="form.type = $event.target.value"
                    />

                    <label for="contactChoice2">Справка</label>
                  </div>

                  <div>
                    <input
                      type="radio"
                      id="contactChoice3"
                      name="contact"
                      value="Другое"
                      :checked="form.type === 'Другое'"
                      @input="form.type = $event.target.value"
                    />

                    <label for="contactChoice3">Другое</label>
                  </div>
                </div>
              </div>
            </div>

            <div class="inputs-padding">
              <div>
                <input
                  v-model="form.name"
                  type="text"
                  placeholder="Название документа *"
                  class="form-input"
                />
              </div>

              <div class="inputs-padding">
                <input
                  v-model="form.number"
                  type="text"
                  placeholder="Номер"
                  class="form-input"
                />
              </div>
            </div>

            <div class="date-block">
              <div class="flex">
                <span class="date-title">Действует с:</span>
                <DateSelect
                  class="paddings-date"
                  :default="form.date_start"
                  @input="form.date_start = $event.target?.value"
                ></DateSelect>
              </div>
              <div class="flex">
                <span class="date-title">По:</span>
                <DateSelect
                  class="paddings-date"
                  :default="form.date_end"
                  @input="form.date_end = $event.target?.value"
                ></DateSelect>
              </div>
            </div>

            <div class="inputs-padding">
              <input
                type="checkbox"
                id="end_alert"
                name="end_alert"
                :checked="form.end_alert"
                v-model="form.end_alert"
              />
              <label for="end_alert">Оповещать об окончании</label>
            </div>

            <div>
              <input
                type="checkbox"
                id="create_task_after_end"
                name="create_task_after_end"
                :checked="form.create_task_after_end"
                v-model="form.create_task_after_end"
              />
              <label for="create_task_after_end"
                >Создавать задачу при окончании</label
              >
            </div>

            <DragAndDropArea class="drag-and-drop-paddigs" @file-inited="saveFile($event)"/>

            <div class="btns-block">
              <button
                type="submit"
                class="submit-btn"
                :disabled="!checkForm"
                @click="submit()"
              >
                {{ data ? "Изменить" : "Добавить" }}
              </button>
              <button type="submit" class="cancel-btn" @click="clear()">
                Отмена
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </Transition>
</template>

<style>
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 650px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease;
}

.modal-header {
  margin-top: 0;
  color: #42b983;
  display: flex;
  justify-content: space-between;
  color: #458afb;
  font-weight: 700;
  font-size: 36px;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter-from {
  opacity: 0;
}

.modal-leave-to {
  opacity: 0;
}

.modal-enter-from .modal-container,
.modal-leave-to .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.required-icon {
  color: red;
}

.flex {
  display: flex;
}

.inputs-padding {
  padding-top: 20px;
}

.date-block {
  width: 450px;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.form-input {
  line-height: 30px;
  font-size: 18px;
  width: 100%;
}

.paddings-date {
  padding-left: 10px;
}

.date-title {
  padding-top: 3px;
}

.btns-block {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  gap: 10px;
}

.submit-btn {
  width: 220px;
  cursor: pointer;
  height: 50px;
  color: white;
  background: #ffbd27;
  border: none;
  border-radius: 10px;
}

.submit-btn:disabled {
  background: grey;
  cursor: no-drop;
}

.cancel-btn {
  width: 220px;
  height: 50px;
  cursor: pointer;
  color: white;
  background: #d5dadf;
  border: none;
  border-radius: 10px;
}

.drag-and-drop-paddigs {
  margin-top: 50px;
}

.cursor-pointer {
  cursor: pointer;
}
</style>
