<template>
  <div class="sidebar-container">
    <img src="../assets/logo.svg" alt="logo" class="sidebar-image" />

    <div v-for="(item, index) of links" :key="index">
      <div
        class="sidebar-item"
        :class="{ 'sidebar-item-active': $route.name == item.route_name }"
        @click="$router.push(item.link)"
      >
        <div>
          <img :src="item.icon" />
        </div>
        <div>{{ item.name }}</div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "side-menu",
  data() {
    return {
      links: [
        {
          name: "Главная",
          icon: require("../assets/home.svg"),
          link: "/",
          route_name: "Main",
        },
        {
          name: "Ученики",
          icon: require("../assets/boy.svg"),
          link: "/students",
          route_name: "Students",
        },
        {
          name: "Преподователи",
          icon: require("../assets/teacher.svg"),
          link: "/teachers",
          route_name: "Teachers",
        },
        {
          name: "Занятия",
          icon: require("../assets/lesson.svg"),
          link: "/lessons",
          route_name: "Leson",
        },
        {
          name: "Сотрудники",
          icon: require("../assets/employees.svg"),
          link: "/employees",
          route_name: "Employees",
        },
      ],
    };
  },
};
</script>

<style scoped>
.sidebar-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  flex-shrink: 0;
  background-color: #458afb;
}

.sidebar-item {
  width: 136px;
  height: 97px;

  cursor: pointer;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: white;
}

.sidebar-image {
  padding-top: 15px;
  padding-bottom: 15px;
}

.sidebar-item-active {
  background-color: #5696ff;
}
</style>
