<template>
  <div>
    <div class="container" v-if='!loading'>
      <div class="filters-block">
        <div>
          Тип документа 
          <v-select :options="documentTypes" @input="changeFilter($event, 'type')" :default="filter?.type != null ? filter.type : 'Не выбрано'"></v-select>
        </div>

        <div class="select-puddings">
          Статус
          <v-select :options="documentStatuses"  @input="changeFilter($event, 'status')" :default="filter?.status != null ? filter.status : 'Не выбрано'"></v-select>
        </div>

        <div class="select-puddings">
          Дата c
          <DateSelect class="date-picker-paddings" @input="changeFilter($event.target?.value, 'date_start', true)"></DateSelect>
        </div>

        <div class="select-puddings">
          Дата по
          <DateSelect class="date-picker-paddings" @input="changeFilter($event.target?.value, 'date_end', true)"></DateSelect>
        </div>
      </div>

      <div class="btn-block">
        <button class="add-contact-btn" @click="openModal = true">ДОБАВИТЬ ДОКУМЕНТ</button>
      </div>
    </div>

    <div class="documents-block">
      <div
        v-for="(item, index) of documents"
        :key="index"
        class="document-item"
        :style="{ 'margin-left': index != 0 ? '30px' : 'none' }"
      >
        <div v-if="item?.id">
          <div class="document-item-name">
            {{ item?.name }} {{item?.number}}
          </div>
          <div class="document-item-status">
            <span v-if="item?.status">
              <span class="cube-icon-puddings" :class="{'red_square': item?.status == 'Расторгнут', 'green_square': item?.status == 'Заклёчен'}">■</span> 
              {{item?.status}}
            </span>
          </div>
          <div class="document-item-date">{{item?.date_start}} - {{item?.date_end}}</div>
          <div class="actions-block">
            <img src="@/assets/printer.svg" />
            <img src="@/assets/edit.svg" @click="modelData = item; openModal = true"/>
            <img src="@/assets/bin.svg" @click="deleteDoc(item.id)" />
          </div>
        </div>

        <div class="file-icon-block">
          <img src="@/assets/pdf.svg" />
        </div>
      </div>
    </div>

    <ModalComponent :show="openModal" :data="modelData" @edit="openModal = false; putDoc($event)" @close="openModal = false; postDoc($event)" />
  </div>
</template>

<script>
import ModalComponent from "@/components/ModalComponent.vue";
import DateSelect from "@/components/DateSelect.vue";

export default {
  components: { ModalComponent, DateSelect },
  name: "documents-block",
  data() {
    return {
      documentStatuses: [
        {
          name: "Не выбрано",
          value: null
        },
        {
          name: "Расторгнут",
          value: "Расторгнут",
        },
        {
          name: "Заклёчен",
          value: "Заклёчен",
        },
      ],

      documentTypes: [
        {
          name: "Не выбрано",
          value: null
        },
        {
          name: "Договор",
          value: "Договор",
        },
        {
          name: "Справка",
          value: "Справка",
        },
        {
          name: "Другое",
          value: "Другое",
        },
      ],
      
      filter: {
        type: undefined,
        status: undefined,
        date_start: undefined,
        date_end: undefined,
      },

      loading: true,

      documents: [],
      openModal: false,
      modelData: null
    };
  },
  methods: {
    fetchData() {
      const queryString = Object.keys(this.filter)
      .map(key => {
        if (this.filter[key] == undefined || this.filter[key] == null || this.filter[key] == '' || this.filter[key] == 'Не выбрано') {
          return null;
        }

        return key + '=' + this.filter[key]
      })
      .filter(e => e != null).join('&');

      console.log(queryString)

      fetch(
        `https://my-json-server.typicode.com/RomanChertushkin/mockApiKeepcodeTest/documents?${queryString}`,
        {
          method: "GET",
          headers: {
            "Content-Type": "application/json",
            // like application/json or text/xml
          },
        }
      )
        .then((res) => res.json())
        .then((data) => (this.documents = data));
    },
    postDoc(event) {
      fetch('https://my-json-server.typicode.com/RomanChertushkin/mockApiKeepcodeTest/documents', {
        method: 'POST',
        body: JSON.stringify(event),
        headers: {
          'Content-type': 'application/json; charset=UTF-8',
        },
      }).then(() => this.fetchData())
    },
    putDoc(event) {
      fetch(`https://my-json-server.typicode.com/RomanChertushkin/mockApiKeepcodeTest/documents/${event.id}`, {
        method: 'PUT',
        body: JSON.stringify(event),
        headers: {
          'Content-type': 'application/json; charset=UTF-8',
        },
      }).then(() => this.fetchData())
    },
    deleteDoc(id) {
        fetch(
            `https://my-json-server.typicode.com/RomanChertushkin/mockApiKeepcodeTest/documents/${id}`,
            {
            method: "DELETE",
            headers: {
                "Content-Type": "application/json",
                // like application/json or text/xml
            },
            }
        )
            .then((res) => res.json())
            .then((data) => (this.documents = data));
    },
    changeFilter(event, type, dateMode = false) {

      let correctValue = (event != 'Не выбрано' && event != undefined) ? event : undefined;

      if (dateMode && correctValue) {
        let date = correctValue.split('-');
        correctValue = date[1] + '.' + date[2] + '.' + date[0];
      }

      this.filter[type] = correctValue;

      
        this.$router.push({
          query: {
            ...this.$route.query,
            ...this.filter
          },
        });

      this.fetchData();
    },
    initFilter() {
      let params = this.$route.query;

      if (params?.type) {
        this.filter.type = params.type;
      }
      
      if (params?.status) {
        this.filter.status = params.status;
      }

      if (params?.date) {
        this.filter.date = params.date;
      }

      this.loading = false;
    },
  },
  mounted() {
    this.initFilter();
    this.fetchData();
  },
};
</script>

<style scoped>
.container {
  margin-top: 90px;
  display: flex;
  justify-content: space-between;
}

.btn-block {
  margin-top: 20px;
}

.filters-block {
  color: #86939c;
  font-size: 14px;
  display: flex;
  justify-content: start;
  margin-top: 20px;
}

.select-puddings {
  margin-left: 180px;
}

.red_square {
    color: red;
}

.green_square {
    color: green;
}

.add-contact-btn {
  border-radius: 10px;
  background: #ffbd27;
  color: white;
  width: 242px;
  height: 50px;
  cursor: pointer;
  outline: none;
  border: none;
}

.documents-block {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  flex-wrap: wrap;
  width: 100%;
}

.document-item {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-radius: 10px;
  background: white;
  width: 378px;
  max-height: 157px;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.1);
}

.document-item-name {
  color: #0d2839;
  /* H2 */
  font-size: 24px;
  font-weight: 700;
}

.document-item-status {
  font-size: 18px;
  padding-top: 3px;
  height: 20px
}

.document-item-date {
    padding-top: 3px;
  font-size: 18px;
  color: #86939c;
}

.actions-block {
  margin-top: 20px;
  width: 134px;
  display: flex;
  justify-content: space-between;
}

.actions-block img {
  cursor: pointer;
}

.file-icon-block {
  display: flex;
  width: 117px;
  height: 117px;
  background: #f2f2f2;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

.cube-icon-puddings {
  padding-right: 5px;
}

.date-picker-paddings {
  padding-top: 10px;
}
</style>
