<template>
  <div class="card">
    <div class="card-content">
      <img src="@/assets/girl_avatar.svg"/>

      <div class="name-area">
        <span class="name">Абрамова Екатерина  <img src="@/assets/girl.png" class="girl-icon" /> </span>

        <div class="contacts">
          <img src="@/assets/whatsapp.svg" />
          <img src="@/assets/viber.svg" />
          <img src="@/assets/telegram.svg" />

          <span class="comments">Комментарии</span>
        </div>
      </div>

      <div class="flex h-100">
        <div class="status-block">
          <div class="info-title">Статус</div>
          <div class="document-item-status">
            <span class="cube-icon-puddings" :class="{'green_square': true}">■</span> Активен
          </div>
        </div>




          <div class="phone-block">
            <div class='child1'>
              <div class="info-title">Телефон</div>
              <div class="document-item-date">8-900-000-00-00</div>
            </div>

            <div class="child2">
              <div class="info-title">Телефон родителей</div>
              <div class="document-item-date">8-900-000-00-00</div>
            </div>
          </div>

          <div class="info-block">
            <div class="child1">
              <div class="info-title">Дата рождения</div>
              <div class="document-item-date">25.04.2004 (17 лет)</div>
            </div>

            <div class="child2">
              <div class="info-title">Адрес</div>
              <div class="document-item-date">г. Краснодар, ул. Советская 24, кв. 208 </div>
            </div>
          </div>


          <div class="btns-block">
            <div>
               <img src="@/assets/edit.svg"/>
            </div>

            <div>
             <img src="@/assets/bin.svg" />
            </div>
          </div>

      </div>
    </div>
  </div>
</template>

<style scoped>
.card {
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.1);
  height: 152px;
}

.card-content {
  height: 100%;
  display: flex;
  /* justify-content: end; */
  align-items: center;
  margin-left: 20px;
}

.card-content .name-area {
  margin-left: 38px;
  width: 520px;
}

.card-content .name-area .name {
  font-size: 36px;
  font-family: Alegreya Sans;
  font-weight: 700;
  color: #458afb;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.card-content .name-area .contacts {
  display: flex;
  justify-content: space-between;
  width: 227px;
  margin-top: 20px;
  margin-left: 2px;
}

.card-content .name-area .contacts .comments {
  padding-top: 5px;
  text-decoration: underline;
  font-size: 18px;
  color: #458afb;
}

.cube-icon-puddings {
  padding-right: 5px;
}

.green_square {
    color: green;
}

.flex {
  display: flex;
  justify-content: start;
  width: 100%;
}

.info-title {
  color: #86939C;
  font-size: 14px;
}

.phone-block {
    margin-left: 56px;
    width: 40%;
    height: inherit;
}

.phone-block .child1 {
  height: 50%;
  padding-top: 20px
}

.phone-block .child2 {
  height: 50%;
  padding-top: 5px
}

.status-block {
  display: flex;
    flex-direction: column;
    align-self: flex-end;
    margin-left: 152px;
    width: 20%;
    margin-bottom: 15px;
}

.girl-icon {
  padding-left:5px;
  margin-top: 5px;
}

.info-block {
    margin-left: 56px;
    width: 70%;
    height: inherit;
}

.info-block .child1 {
  height: 50%;
  padding-top: 20px
}

.info-block .child2 {
  height: 50%;
  padding-top: 5px
}

.h-100 {
  height: inherit;
}

.btns-block {
display: flex;
    flex-direction: column;
    align-self: center;
        width: inherit;
    padding-right: 20px;
        width: 20%;

    gap: 56px;
    padding-top: 0;
    align-items: end;
}
</style>
