<template>
 <div>
      <PersonInfoBlock />

      <DocumentsBlock />
 </div>
</template>

<script>
import DocumentsBlock from "./DocumentsBlock.vue";
import PersonInfoBlock from "./PersonInfoBlock.vue";

export default {
  components: {
    DocumentsBlock,
    PersonInfoBlock,
  },
  name: 'students-page'
}
</script>

<style scoped>

</style>