<template>
   <div class="container">
    <div class="sidenav">
      <SideMenu />
    </div>
    <div class="header">
      <Header />
    </div>
    <div class="page">
      <router-view />
    </div>
  </div>
</template>

<script>
import SideMenu from "./components/SideMenu.vue";
import Header from "./components/Header.vue";

export default {
  name: "App",
  components: {
    SideMenu,
    Header
  }
};  
</script>

<style>
@import "./css/main.css";

#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  height: 90vh;
}

.container {
  height: 100%;
  display: grid; 
  grid-template-columns: 136px 1fr; 
  grid-template-rows: 10% 1fr;
  gap: 0px 0px; 
  grid-template-areas: 
    "sidenav header"
    "sidenav page"
}
.sidenav { grid-area: sidenav; }
.header { grid-area: header; }
.page { grid-area: page; margin-left: 90px; margin-right: 90px;}

body {
 min-height: 100vh;
 margin: 0;
 background: #F2F5F8;
}
</style>




